*::-webkit-scrollbar-thumb {
    background:  linear-gradient(to bottom right, #518DC9, #782c7f);
}
.modal-body {
    height: 443px;
    margin-left: 21px;
    overflow-y: auto;
    overflow-x: hidden ;
    margin-right: 21px;

    @media (max-width: 767px) {
        height:calc(100vh - 192px);
    }
                
    .sectionHeading { font-size: 1rem; text-transform: uppercase; font-weight: bold; }
    .sectionContent { font-size: 0.9rem; color: #222b45; padding: 10px 0;
                    .blue { color: #518DC9; }
                    .purple { color: #782c7f; }
                    .gray { color: gray; }
                    .structType { font-size: 0.8rem; }
    }
}

.blockchain-header {
    height: 54px;
    position: relative;
    top: 1px;
    width: 99%;
    left: 3px;
    margin-bottom: 10px;
    background:  linear-gradient(90deg,#518dc9,#782c7f);
}

.blockchain-footer {
    height: 110px;
    justify-content: center;
    .block-pagination {
        text-align: center;
        .recordsinfo {
            text-align: center;
    
        }
    }
}
.sk-fading-circle {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }