<div class="modal-header">
  <div class="modal-title pull-left">Artist Publishers</div>
  <button (click)="bsModalRef.hide()" type="button" class="close pull-right text-white" aria-label="Close">
    <span aria-hidden="true"><i class="fal fa-times"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex justify-content-end mt-3">
    <button nbButton status='info' (click)="onAddArtistPublisher()">
      <div class='gradientText verticalCenterRow'>
        <i class='fas fa-plus-circle mr-1'></i><span> Add Artist Publisher</span>
      </div>
    </button>
  </div>
  <div class="container mt-3">
    <table class="table table-fixed">
      <thead class="table-header">
        <tr>
          <th>Publishers</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let publisher of publishers">
          <td>{{publisher.publisher_name}}</td>
          <td>
            <i role="button" (click)="onDeletepublishers(publisher)" class="fas fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>