<div class="modal-header">
  <div class="modal-title pull-left">Track Lyrics</div>
  <button (click)="bsModalRef.hide()" type="button" class="close pull-right text-white" aria-label="Close">
    <span aria-hidden="true"><i class="fal fa-times"></i></span>
  </button>
</div>
<div class="modal-body">
  <div class="mt-3">
    <div [formGroup]="form">
      <div>
        <ng-select formControlName="language" [items]="languages | async" [placeholder]="'Select Language'" [searchable]="false" [bindLabel]="'dataLanguage'" [bindValue]="'dataUUID'"></ng-select>
        <textarea (change)="editLyrics()" rows="10" class="mt-3 form-input" [placeholder]="'Lyrics'" formControlName="lyrics"></textarea>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button status="info" (click)="lyrics?.length?onDeleteLyrics(lyrics[0]):addLyrics()" [disabled]="form.invalid" class="appearance-filled size-medium shape-rectangle status-info">
          <div class="gradientText">
            <span>
              <i *ngIf="isSubmitting" class="fas fa-circle-notch gradientText fa-spin"></i>
              {{buttonText}}
            </span>
            
          </div>
        </button>
      </div>
      <p class="mt-2 text-center text-success" *ngIf="isSubmitted">
       {{submittedText}} <i class="ml-2 fas fa-check"></i>
      </p>
    </div>
    <!-- <table class="table table-fixed">
      <thead class="table-header">
        <tr>
          <th>Lyrics</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lyric of lyrics">
          <td>{{lyric.track_lyrics}}</td>
          <td>
            <i role="button" (click)="editLyrics(lyric)" class="fas fa-edit mr-2"></i>
            <i role="button" (click)="onDeleteLyrics(lyric)" class="fas fa-trash-alt"></i>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>