<div class="modal-header">
  <div class="modal-title pull-left">Remove Artist</div>
  <button (click)="bsModalRef.hide()" type="button" class="close pull-right text-white" aria-label="Close">
      <span aria-hidden="true"><i class="fal fa-times"></i></span>
  </button>
</div>
<div class="modal-body">
  Are you sure you want to remove this Artist?
</div>
<div class="modal-footer">
  <span *ngIf="artistRemovedError" class="text-danger text-right">
      {{artistRemovedError?.error.status.message}}
  </span>
  <span *ngIf="artistRemoved" class="text-success text-right">
      <span >Artist Removed</span>
  </span>
  <button (click)="bsModalRef.hide()" class="btn btn-secondary">
    <span class="gradientText">
      Cancel
    </span>
  </button>
  <button
          (click)="confirm()"
          [disabled]="artistRemoving || artistRemoved" class="btn btn-round btn-primary">
      <i *ngIf="artistRemoving" class="fas fa-circle-notch fa-spin"></i>
      <i *ngIf="!artistRemoving && artistRemoved" class="fas fa-check"></i> <span class="gradientText">
        Save
      </span>
  </button>
</div>
