<div class="modal-header">
  <div class="modal-title pull-left">Create Artist</div>
  <button (click)="bsModalRef.hide()" type="button" class="close pull-right text-white" aria-label="Close">
      <span aria-hidden="true"><i class="fal fa-times"></i></span>
  </button>
</div>
<div class="modal-body artist-detail" [formGroup]="form">
  <ng-container *ngIf="step === 1">
    <div class="row justify-content-center">
      <div class="uploadArtworkPanel verticalCenterRow col-md-3">
        <div class="imageDiv d-flex flex-row">
          <div class="imageWrapper mr-2">
            <img [src]="filePath" />
            <div (click)="showCropModal()" class="inputDiv"></div>
          </div>
        </div>
    </div>
      <div class="col-md-9 row mt-4 d-flex align-items-center">
        <div class="col-12">
          <label>Artist Name*:</label>
          <input class="form-input" formControlName="artist_name">
          </div>
        </div>
    </div>
    
  </ng-container>
  <div *ngIf="step===1">
    <h6>Enter Artist IDS:</h6>
    <div class="card mt-3">
      <div class="card-body">
        <div class="d-flex">
          <i class="mt-2 fab fa-itunes-note mr-2 gradientText fa-2x"></i>
          <h6>
            Apple Music</h6>
        </div>
        <hr class="m-0" style="border-bottom:1px solid lightgray">
        <div *ngIf="flags.apple ==='initial'" class="pt-3">Does this artist have an existing profile page on Apple Music?</div>
        <div *ngIf="flags.apple === 'yes'" class="mt-3">
          <p>Please provide the Artist ID For Apple Music</p>
          <div class="row">
            <div class="col-12">
              <label>Artist ID:</label>
              <input class="form-input" formControlName="url_apple"
              [ngClass]="{'is-invalid': form.controls.url_apple.errors && form.controls.url_apple.touched}"
              >
            </div>
          </div>
        </div>
        <div *ngIf="flags.apple === 'no'" class="mt-3">
          <div class="alert alert-success">
            <i class="fal fa-check-circle mr-2"></i>
            <span>We will create a new profile for this artist on Apple Music</span>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div *ngIf="flags.apple ==='initial'" class="d-flex ml-4">
          <a class="mr-4" (click)="flags.apple = 'no'">No</a>
          <a (click)="flags.apple ='yes'">Yes</a>
        </div>
        <div class="ml-4"  *ngIf="flags.apple ==='no' || flags.apple ==='yes'" >
          <a  (click)="flags.apple = 'initial'"><i class="far fa-undo mr-2"></i>undo</a>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <div class="d-flex">
          <i style="color: #FE5000;" class="fab fa-soundcloud fa-2x mr-2 artist-info-icon"></i>
          <h6>
           
          Soundcloud</h6>
        </div>
        <hr class="m-0" style="border-bottom:1px solid lightgray">
        <div *ngIf="flags.soundcloud ==='initial'" class="pt-3">Does this artist have an existing profile page on Soundcloud?</div>
        <div *ngIf="flags.soundcloud === 'yes'" class="mt-3">
          <p>Please provide the Artist ID For Soundcloud</p>
          <div class="row">
            <div class="col-12">
              <label>Artist ID:</label>
              <input class="form-input" formControlName="url_soundcloud"
              [ngClass]="{'is-invalid': form.controls.url_soundcloud.errors && form.controls.url_soundcloud.touched}"
              >
            </div>
          </div>
        </div>
        <div *ngIf="flags.soundcloud === 'no'" class="mt-3">
          <div class="alert alert-success">
            <i class="fal fa-check-circle mr-2"></i>
            <span>We will create a new profile for this artist on Soundcloud</span>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div *ngIf="flags.soundcloud ==='initial'" class="d-flex ml-4">
          <a class="mr-4" (click)="flags.soundcloud = 'no'">No</a>
          <a (click)="flags.soundcloud='yes'">Yes</a>
        </div>
        <div class="ml-4"  *ngIf="flags.soundcloud ==='no' || flags.soundcloud ==='yes'" >
          <a  (click)="flags.soundcloud = 'initial'"><i class="far fa-undo mr-2"></i>undo</a>
        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="card-body">
        <div class="d-flex">
          <i class="fab fa-spotify fa-2x text-success mr-2 artist-info-icon"></i>
          <h6>
           Spotify</h6>
        </div>
        <hr class="m-0" style="border-bottom:1px solid lightgray">
        <div *ngIf="flags.spotify==='initial'" class="pt-3">Does this artist have an existing profile page on spotify?</div>
        <div *ngIf="flags.spotify === 'yes'" class="mt-3">
          <p>Please provide the Artist ID for Spotify</p>
          <div class="row">
            <div class="col-12">
              <label>Artist ID:</label>
              <input class="form-input" formControlName="url_spotify"  [ngClass]="{'is-invalid': form.controls.url_spotify.errors && form.controls.url_spotify.touched}">
            </div>
          </div>
        </div>
        <div *ngIf="flags.spotify === 'no'" class="mt-3">
          <div class="alert alert-success">
            <i class="fal fa-check-circle mr-2"></i>
            <span>We will create a new profile for this artist on Spotify</span>
          </div>
        </div>

      </div>
      <div class="card-footer">
        <div *ngIf="flags.spotify ==='initial'" class="d-flex ml-4">
          <a class="mr-4" (click)="flags.spotify = 'no'">No</a>
          <a (click)="flags.spotify ='yes'">Yes</a>
        </div>
        <div class="ml-4"  *ngIf="flags.spotify ==='no' || flags.spotify ==='yes'" >
          <a  (click)="flags.spotify = 'initial'"><i class="far fa-undo mr-2"></i>undo</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <span *ngIf="artistAddedError" class="text-danger">
      {{artistAddedError}}
  </span>
  <span *ngIf="artistAdded" class="text-success">
      <span >Artist Added</span>
  </span>
  <span class=" text-danger" *ngIf="imageError">{{imageError}}</span>
  <button
    (click)="confirm()"
    [disabled]="artistAdding || artistAdded" nbButton
    class="btn-gradient"
  >
    <i *ngIf="artistAdding" class="gradientText fas fa-circle-notch fa-spin"></i>
    <i *ngIf="!artistAdding && artistAdded" class="fas fa-check"></i>
    <span>
      Save
    </span>
  </button>
</div>