<footer class="main-footer">
  <div class="container">
    <ion-row class="row main-block">
      <ion-col sizeXl="6" sizeLg="4" sizeSm="12" size="12" pushXl="3" pushLg="4">
        <div class="footer-logo">
          <a href="javascript:;">
            <img class="transition-action" src="{{cloudUrl}}/images/soundblock-logo-box.png"/>
          </a>
          <ul class="footer-menu">
            <li><a class="transition-action" href="javascript:;">Terms & Services</a></li>
            <li><a class="transition-action" href="javascript:;">Privacy Policy</a></li>
          </ul>
        </div>
      </ion-col>
      <ion-col sizeXl="3" sizeLg="4" sizeSm="12" size="12" sizeMd="6" pullXl="6" pullLg="4">
        <div class="register-form">
          <div class="social-sites">
            <div class="title">FOLLOW US:</div>
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-instagram icon"></i>
            <i class="fab fa-youtube icon"></i>
            <i class="fab fa-google icon"></i>
            <i class="fab fa-linkedin-in icon"></i>
            <i class="fab fa-twitter icon"></i>
          </div>
        </div>
      </ion-col>
      <ion-col sizeXl="3" sizeLg="4" sizeSm="12" size="12" sizeMd="6">
        <div class="contact-info">
          <div class="contact-wrapper">
            <p class="address">
              SOUNDBLOCK, LLC
              <br />2375 East Camelback Road, 6th Floor <br />Phoenix, AZ 85016
            </p>
            <a class="phone-number contact-link transition-action" href="tel:602-466-9636"
              >602-466-9636</a
            >
            <a class="email contact-link transition-action" href="mailto:contact@soundblock.com"
              >contact@soundblock.com</a
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="row copyright">
      <ion-col>
        <span>
          © 2019 Simple Machine, LLC and affiliated companies. All rights
          reserved. Arena, arena.com, Arena Music, arenamusic.com, ARENX,
          arenx.com, Soundblock, soundblock.com, Musicoin, musicoin.com and
          "Fair Pay. Free Play." are registered trademarks of Simple Machine,
          LLC.</span>
      </ion-col>
    </ion-row>
  </div>
</footer>
