.border-bottom {
  border-bottom: 2px solid #782c7f;
}

.border-bottom-2 {
  border-bottom: 2px solid #518dc9;
}

.border-left {
  border-left: 2px solid #782c7f;
}

.border-left-2 {
  border-left: 2px solid #518dc9;
}

.border-right {
  border-right: 2px solid #782c7f;
}

.border-right-2 {
  border-right: 2px solid #518dc9;
}

.border-top {
  border-top: 2px solid #782c7f;
}

.border-top-2 {
  border-top: 2px solid #518dc9;
}
