.colorBlue {
  color: #518dc9 !important;
}
.colorLightPurple {
  color: #8c6eab !important;
}
.colorDeepPurple {
  color: #593c78 !important;
}
.colorPurple {
  color: #782c7f !important;
}
.colorTeal {
  color: #65bdbe !important;
}
.colorGray {
  color: gray;
}
.colorBlack {
  color: black;
}
