<div class="page-wrapper">
  <div class="page-container">
    <div class="content-wrapper">
      <ion-row class="rowWrapper">
        <ion-col size="12" sizeLg="8">
          <div *ngIf="form" class="feature signin-social">
            <form [formGroup]="form" class="feature-body">
              <div *ngIf="!passwordResetHash" class="stepContent">
                <div class="ion-margin-top inputSection">
                  <h6 class="ion-margin-bottom">Enter your email</h6>
                  <input
                    type="email"
                    formControlName="email"
                    class="form-input"
                    placeholder="Email..."
                  />
                  <div class="form-errors" *ngIf="emailError">
                    <i>{{ emailError }}</i>
                  </div>
                </div>

                <div class="submitWrapper">
                  <button
                    [nbSpinner]="sendEmailLoading"
                    (keydown.enter)="sendEmail()"
                    nbButton
                    [disabled]="email.invalid || emailSentSuccessfully"
                    status="primary"
                    (click)="sendEmail()"
                    type="button"
                  >
                    SUBMIT
                  </button>
                </div>

                <div *ngIf="emailSentSuccessfully" class="submitWrapper">
                  <ion-text>
                    <h6>
                      Confirmation email has been send to {{ email.value }}<br>
                      Check your inbox for further instructions
                    </h6>
                  </ion-text>
                </div>
              </div>
              <div
                *ngIf="passwordResetHash"
                class="stepContent passwords-confirm"
              >
                <div class="ion-margin-top inputSection">
                  <h6 class="ion-margin-bottom">Enter your new password</h6>
                </div>
                <div class="inputSection">
                  <input
                    [type]="showPass ? 'text' : 'password'"
                    formControlName="password"
                    class="form-input password"
                    placeholder="Password"
                  />
                  <div class="eyeWrapper">
                    <i
                      (click)="showPassword()"
                      class="fa"
                      [ngClass]="{'fa-eye': !showPass, 'fa-eye-slash': showPass}"
                    ></i>
                  </div>

                  <div class="inputSection ml20">
                    <ion-text
                      *ngIf="password.value && password.value.length"
                      class="password-strength"
                      >Password Strength:
                      <ion-text
                        class="strength-level"
                        [color]="passwordStrength === 'Strong' ? 'success' : passwordStrength === 'Medium' ? 'warning' : 'danger'"
                      >
                        {{ passwordStrength }}
                      </ion-text>
                    </ion-text>
                  </div>
                </div>

                <div class="inputSection">
                  <input
                    [type]="showPass ? 'text' : 'password'"
                    formControlName="repeatPassword"
                    class="form-input"
                    placeholder="Repeat Password"
                  />
                  <div
                    class="form-errors"
                    *ngIf="repeatPassword.errors || password.errors"
                  >
                    <i
                      *ngIf="(repeatPassword.errors && repeatPassword.errors.passwordsDoNotMatch) ||
                      (password.errors && password.errors.passwordsDoNotMatch)"
                      >Passwords do not match</i
                    >
                  </div>

                  <div
                    class="form-errors"
                    *ngIf="passwordChangeError"
                  >
                    <i>{{ passwordChangeError }}</i
                    >
                  </div>

                </div>

                <div class="submitWrapper">
                  <button
                    [nbSpinner]="passwordChangeLoading"
                    nbButton
                    [disabled]="form.invalid"
                    (click)="changePassword()"
                    class="m5"
                    status="primary"
                  >
                    CHANGE
                  </button>
                </div>

                <div *ngIf="passwordChangedSuccessfully" class="submitWrapper">
                  <h6>Password changed successfully. </h6>
                  <h6>You will now be redirected to sign in page</h6>
                </div>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>
