.tickets-backdrop {
  z-index: 100;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.ticketWrapper {
  z-index: 101;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 60px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #518dc9 0%, #782c7f 100%);
  padding-left: 2px;

  @media (max-width: 767px) {
    height: 100%;
    margin-top: 0;
    z-index: 100;
  }

  .container {
    background: white;
    width: 100%;
    height: 100%;

    .ticketHeader {
      background: linear-gradient(90deg, #518dc9 0%, #782c7f 100%);
      color: #fff;
      color: white;
      font-weight: 700;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      padding: 0 20px;
      align-items: center;
      padding: 1rem;

      span {
        //line-height: 50px;
      }

      i {
        cursor: pointer;
      }
    }

    .ticketList {
      color: #222b45;
      font-size: 1rem;
      padding: 10px;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: calc(100% - 50px);

      .listHeader {
        padding: 0 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ::ng-deep button {
          width: 200px;
          height: 40px;
          border-radius: 10px !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
      }

      .listWrapper {
        display: flex;
        flex-direction: column;
        // overflow-y: auto;
        height: calc(100% - 50px);

        .ticket {
          cursor: pointer;

          .card {
            transition: 0.1s;
            border-top: 2px solid #782c7f;
            border-right: 2px solid #782c7f;
            border-bottom: 2px solid #518dc9;
            border-left: 2px solid #518dc9;

            &:hover {
              transform: scale(1.01, 1.01);
            }
          }

          .header {
            display: flex;
            align-items: center;
            color: #782c7f;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 10px;

            i {
              font-size: 1.1rem;
              margin-right: 10px;
            }

            .alert {
              margin: 0;
              padding: 3px 10px;
              display: inline;
              font-size: 0.8rem;
              text-transform: uppercase;
              color: #fff;
              &.purple {
                background-color: #782c7f;
              }

              &.blue {
                background-color: #518dc9;
              }
            }
          }

          .body {
            font-size: 1rem;
            color: #222b45;

            .contact {
              display: flex;
              justify-content: space-between;
              color: gray;
              font-size: 0.9rem;
            }
          }
        }
      }
      ng-select{
        width: 175px;
      }
    }
    .msgList {
      display: flex;
      flex-direction: column;
      height: calc(100% - 50px);

      .title {
        font-size: 1.3rem;
        color: #782c7f;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        height: 45px;
      }

      .metainfo {
        display: flex;
        justify-content: space-around;
        height: 25px;

        span {
          padding-bottom: 5px;
        }
      }

      .body {
        height: calc(100% - 100px);
        display: flex;
        flex-direction: column;

        .messages {
          // overflow-y: auto;
          display: flex;
          flex-direction: column;
          flex: 1;

          .message {
            &:hover {
              background-color: #edf1f7b7;
            }
            .card{
              border: none;
              border-radius: 0px;
              padding: 10px 10px 10px 10px;
            }

            .wrapper {
              box-shadow: none;
              margin: 0;
              padding: 10px 10px 10px 0;
              color: #222b45;

              .messageHeader {
                padding: 0px 10px;
                display: flex;
                align-items: center;

                img {
                  width: 40px;
                  height: 40px;
                  border-radius: 5px;
                  margin-right: 10px;
                  object-fit: cover;
                }

                .name {
                  padding-bottom: 3px;
                  display: flex;
                  justify-content: space-between;
                  flex: 1;

                  .name {
                    margin-right: 15px;
                    font-weight: bold;
                    display: block;
                  }

                  .date {
                    font-weight: 0.8rem;
                    color: gray;
                  }
                }
              }

              .messageBody {
                flex: 1;
                padding: 10px 20px 0 20px;
                display: flex;
                flex-direction: column;

                .fileCard {
                  display: flex;
                  width: 300px;
                  border-top: 2px solid #782c7f;
                  border-right: 2px solid #782c7f;
                  cursor: pointer;
                  border-bottom: 2px solid #518dc9;
                  border-left: 2px solid #518dc9;

                  .fileImg {
                    display: flex;
                    align-items: center;

                    i {
                      font-size: 1.5rem;
                      padding: 10px 20px;
                      color: #222b45;
                    }
                  }

                  .fileInfo {
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    color: #222b45;
                    justify-content: center;

                    .size {
                      color: gray;
                    }
                  }
                }
              }
            }
          }
        }

        .messageInput {
          min-height: 100px;
          width: 100%;
          border-top: solid 1px #edf1f7;
          display: flex;
          flex-direction: column;
          background: linear-gradient(270deg, #518dc9 0%, #782c7f 100%);
          padding-top: 2px;

          .input {
            flex: 1;
            padding: 0;
            height: 100%;
            // input { outline: none; width: 80%; border-width: 0px; }
          }
          textarea{
            width: 100%;
            background: white;
            border: none;
            height: 100%;
            padding-top: 20px;
            padding-bottom: 4px;
          }
          textarea:focus{
            outline: none;
          }

          .control {
            height: 40px;
            background-color: #eeeeee;
            padding: 0;
            align-items: center;
            display: flex;
            justify-content: space-between;

            .attachSection {
              display: flex;
              height: 100%;
              align-items: center;

              .icon {
                padding: 0 10px;
                cursor: pointer;
                height: 100%;
                display: flex;
                align-items: center;

                i {
                  font-size: 1.2rem;
                  color: #782c7f;
                }

                &:hover {
                  background: linear-gradient(90deg, #518dc9 0%, #782c7f 100%);

                  i {
                    color: white;
                  }
                }
              }
              .inputfile{
                height: 7%;
                width: 44%;
              }

              .fileInfo {
                margin-left: 30px;

                .filename {
                  font-weight: bold;
                  margin-left: 30px;
                }

                .filesize {
                  margin-left: 30px;
                  color: gray;
                }
              }
            }

            button {
              padding: 6px 20px;
              font-size: 0.8rem;
              width: 100px;
              margin-right: 10px;
              height: 35px;
            }
          }
        }
      }
    }

    .newTicket {
      margin-bottom: 20px;
      height: calc(100% - 50px);
      overflow: auto;

      ng-select {
        width: 100% !important;
      }

      .messageWrapper {
        height: 150px;

        @media screen and (max-width: 767px) {
          height: 100px;
        }

        textarea {
          height: 100%;
          width: 100%;
          padding: 10px;
        }
        textarea:focus{
          outline: none;
        }
      }

      .fileWrapper {
        border-width: 2px;
        border-style: dashed;
        display: flex;
        padding: 10px;
        border-radius: 10px;
        border-top-color: #782c7f;
        border-right-color: #782c7f;
        border-bottom-color: #518dc9;
        border-left-color: #518dc9;

        .attach {
          color: #518dc9;
          cursor: pointer;

          &:hover {
            color: #782c7f;
          }

          i {
            margin-right: 5px;
            font-size: 1rem;
          }
        }

        .fileInfo {
          margin-left: 20px;
          justify-content: space-between;
          justify-content: space-between;
          display: flex;
          align-items: center;
          flex: 1;

          .filesize {
            color: gray;
          }
        }
      }
    }
  }
}
button:focus {outline:0;}
